@model int

<div title="Ocena: @Model / 5">
    @for (int i = 1; i <= 5; i++)
    {
        if (i <= Model)
        {
            @Html.Raw("&#x2605;")
        }
        else
        {
            @Html.Raw("&#x2606;")
        }
    }
</div>